# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Java Programming/NetbeansPro1/nbproject/private/
/Java Programming/NetbeansPro1/build/
/Java Programming/HelloFX/nbproject/private/
/Java Programming/HelloFX/build/
